<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>loadout.ink - Splashtag Customizer + Gear Planner for Splatoon 3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Gear planner and Splashtag Customizer for Splatoon 3. Create gear configurations and see the effects on your stats.">
    <meta name="robots" content="index, follow">

    <script src="../common/lib/jquery/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
    <script src="../common/lib/angular-animate.min.js"></script>
    <script src="../common/lib/angular-aria.min.js"></script>
    <script src="../common/lib/angular-touch.min.js"></script>
    <script src="../common/lib/jquery-ui-custom/jquery-ui.js"></script>
    <script src="../common/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <link rel="manifest" href="./manifest.json">
    <link rel="stylesheet" href="../common/lib/jquery-ui-custom/jquery-ui.css">
    <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>

    <script src="./calc.js"></script>
    <script src="./util.js"></script>
    <script src="./loadout.js"></script>
    <script src="./encode.js"></script>
    <script src="./data/skills.js"></script>
    <script src="./data/weapons.js"></script>
    <script src="./data/subs.js"></script>
    <script src="./data/specials.js"></script>
    <script src="./data/hats.js"></script>
    <script src="./data/clothes.js"></script>
    <script src="./data/shoes.js"></script>
    <script src="./data/brands.js"></script>
    <script src="./data/adjectives.js"></script>
    <script src="./data/badges.js"></script>
    <script src="./data/splashtags.js"></script>
    <script src="./data/subjects.js"></script>
    <script src="./gear.js"></script>
    <script src="./stats.js"></script>
    <script src="./ui.js"></script>
    <script src="./modals.js"></script>

    <script src="https://use.fontawesome.com/c7118d472c.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="icon" href="../common/assets/img/misc/favicon.png">

    <link rel="stylesheet" href="../common/style/calc.css">
    <link rel="stylesheet" href="../common/style/dialog.css">

    <!-- Hopscotch Resources -->
    <link rel="stylesheet" href="../common/style/hopscotch.css"></link>
    <script src="../common/lib/hopscotch.js"></script>

    <!-- AngularJS Slider Resources -->
    <link rel="stylesheet" href="../common/style/rzslider.css"></link>
    <script src="../common/lib/rzslider.js"></script>

    <script src="./tutorials.js"></script>

</head>

<body ng-cloak ng-app="splatApp" ng-controller="splatController">
    <div id="main">
        <script type="text/ng-template" id="blankModal.html">
            <div class="modal" ng-style="{'z-index': 1050 + index*10, display: 'block'}">
                <div class="modal-dialog " role="document">
                    <div class="modal-body" ng-transclude></div>
                </div>
            </div>
        </script>
        <header class="hero-unit" id="splat-header">
            <img src="./../common/assets/img/ui/logo-custom.png" />
            <div id="language-picker" uib-dropdown is-open="status.langOpen">
                <button id="language-button" uib-dropdown-toggle><span class="fa fa-globe"></span> {{::languages['ja_JP' || 'ja_JP']}}</button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" uib-dropdown-menu>
                    <li role="menuitem" class="menuitem" ng-repeat="(key, value) in languages"><a ng-click="redirect(key)">{{value}}</a></li>
                </ul>
            </div>
        </header>
        <div class="container" id="maincontainer">
            <div class="row">
                <div id="loadout" class="col-lg-12 col-sm-12">
                    <div id="loadout-gap">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-6 nopadding">
                                        <div id="splashtag">

                                            <img id="bg" fallback-img ng-src="{{loadout.splashtag.bg.image}}" />
                                            <h1 id="title" style="{{loadout.splashtag.getTextColor()}}">{{loadout.splashtag.getTitle()}}<button class="icon-button" ng-hide="screenshotMode" ng-controller="ModalCtrl" ng-click="openTitleModal(loadout.splashtag.adjective, loadout.splashtag.subject, adjectives, subjects)"><span class="glyphicon glyphicon-pencil"></span></button></h1>
                                            <h1 id="name" style="{{loadout.splashtag.getTextColor()}}">{{loadout.splashtag.name}}</h1>
                                            <h1 id="discrim" style="{{loadout.splashtag.getTextColor()}}">{{loadout.splashtag.getDiscriminator()}}<button class="icon-button" ng-hide="screenshotMode" ng-controller="ModalCtrl" ng-click="openDiscrimModal()"><span class="glyphicon glyphicon-pencil"></span></button></h1>
                                            <img id="badge1" fallback-img ng-src="{{loadout.splashtag.getBadgeIcon(0)}}" />
                                            <img id="badge2" fallback-img ng-src="{{loadout.splashtag.getBadgeIcon(1)}}" />
                                            <img id="badge3" fallback-img ng-src="{{loadout.splashtag.getBadgeIcon(2)}}" />
                                            <button class="icon-button bg" ng-hide="screenshotMode" ng-controller="ModalCtrl" ng-click="openBackgroundModal(loadout.splashtag.bg, splashtags)"><span class="glyphicon glyphicon-pencil"></span></button>
                                            <button class="icon-button badge1" ng-hide="screenshotMode" ng-controller="ModalCtrl" ng-click="openBadgeModal(0, loadout.splashtag.badges[0], badges)"><span class="glyphicon glyphicon-pencil"></span></button>
                                            <button class="icon-button badge2" ng-hide="screenshotMode" ng-controller="ModalCtrl" ng-click="openBadgeModal(1, loadout.splashtag.badges[0], badges)"><span class="glyphicon glyphicon-pencil"></span></button>
                                            <button class="icon-button badge3" ng-hide="screenshotMode" ng-controller="ModalCtrl" ng-click="openBadgeModal(2, loadout.splashtag.badges[0], badges)"><span class="glyphicon glyphicon-pencil"></span></button>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-sm-6 nopadding">
                                        <div class="card purplestripes" id="utils">
                                            <div class="row" ng-hide="screenshotMode">
                                                <div class="col-xs-3">
                                                    <button class="icon-button" id="copybtn" data-clipboard-text="{{encodedURL()}}" uib-tooltip="リンクをコピー" tooltip-append-to-body="true"><span class=""><i class="fa fa-fw fa-clipboard"></i><i class="fa fa-fw fa-check green" ng-show="showCopy"></i></span></button>
                                                </div>
                                                <div class="col-xs-3">
                                                    <button class="icon-button" ng-click="screenshotMode=!screenshotMode" uib-tooltip="スクリーンショットモード" tooltip-append-to-body="true"><span class="fa fa-fw fa-window-maximize"></span></button>
                                                </div>
                                                <div class="col-xs-3">
                                                    <button class="icon-button" ng-click="loadout.clearAbilities()" uib-tooltip="ギアパワーをリセット" tooltip-append-to-body="true"><span class="fa fa-fw fa-undo"></span></button>
                                                </div>
                                                <div class="col-xs-3">
                                                    <button class="icon-button" ng-click="resetLoadout()" uib-tooltip="全部リセット" tooltip-append-to-body="true"><span class="fa fa-fw fa-bomb"></span></button>
                                                </div>
                                                <div class="row" ng-hide="screenshotMode">
                                                    <div class="col-xs-12">
                                                        <span id="version">
                                                    ギア揃え ｖ2.0.0
                                                    <span class="icon-button fa fa-question-circle-o" ng-controller="ModalCtrl" uib-tooltip="更新内容" ng-click="openChangelog()" tooltip-append-to-body="true"></span>
                                                        <span id="tutorial" class="icon-button fa fa-magic" ng-controller="splatController" uib-tooltip="チュートリアル" ng-click="tutorial()" tooltip-append-to-body="true"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="row screenshot-filler" ng-show="screenshotMode" ng-click="screenshotMode=!screenshotMode">
                                                    <img src="../common/assets/img/ui/logo-custom.png" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 nopadding">
                                            <div class="card itemcard weaponstripes" id="weapon">
                                                <div class="row cardheader">
                                                    <button class="icon-button" ng-hide="screenshotMode" ng-controller="ModalCtrl" ng-click="openWeaponPicker()"><span class="glyphicon glyphicon-pencil"></span></button> ブキ
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 nopadding">
                                                        <div class="gear-wrapper">
                                                            <img class="gear-icon" fallback-img ng-src="{{loadout.weapon.image}}" />
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 nopadding">
                                                        <div class="row">
                                                            <div class="col-xs-6 nopadding">
                                                                <img fallback-img ng-src="{{getSubByName(loadout.weapon.sub).image}}" class="subspeicon" /><br>
                                                            </div>
                                                            <div class="col-xs-6 nopadding">
                                                                <img fallback-img ng-src="{{getSpecialByName(loadout.weapon.special).image}}" class="subspeicon" /><br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 nopadding">
                                            <div class="card itemcard hatstripes">
                                                <div class="row cardheader">
                                                    <button class="icon-button" ng-hide="screenshotMode" ng-controller="ModalCtrl" ng-click="openGearPicker(hats,loadout.head.equipped,'head')"><span class="glyphicon glyphicon-pencil"></span></button> アタマ
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 nopadding">
                                                        <div id="hats" class="gear-wrapper">
                                                            <img fallback-img class="gear-icon" ng-src="{{loadout.head.equipped.image}}" />
                                                            <span class="not-possible">
                                <span class="fa fa-5x fa-ban" uib-tooltip="Not possible with selected main" tooltip-append-to-body="true" ng-if="!isPossibleMain(loadout.head.equipped,loadout.head.main.name)"></span>
                                                            </span>


                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div id="hat-abilities" class="ability-wrapper">
                                                        <img tabindex="0" class="abilityicon main" draggable-ability ability-slot="loadout.head.main" contains-fixed="{{loadout.head.equipped.fixed?true:false}}" contains-exclusive="{{loadout.head.main?loadout.head.main.exclusive?true:false:false}}" ng-src="{{loadout.head.getmainIcon()}}"
                                                        />
                                                        <img tabindex="0" class="abilityicon sub" draggable-ability ability-slot="loadout.head.subs[0]" ng-src="{{loadout.head.getSubIcon(0)}}" />
                                                        <img tabindex="0" class="abilityicon sub" draggable-ability ability-slot="loadout.head.subs[1]" ng-src="{{loadout.head.getSubIcon(1)}}" />
                                                        <img tabindex="0" class="abilityicon sub" draggable-ability ability-slot="loadout.head.subs[2]" ng-src="{{loadout.head.getSubIcon(2)}}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 nopadding">
                                            <div class="card itemcard clothesprites">
                                                <div class="row cardheader">
                                                    <button class="icon-button" ng-hide="screenshotMode" ng-controller="ModalCtrl" ng-click="openGearPicker(clothes,loadout.clothes.equipped,'clothes')"><span class="glyphicon glyphicon-pencil"></span></button>                                                    フク
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 nopadding">
                                                        <div id="clothes" class="gear-wrapper">
                                                            <img fallback-img class="gear-icon" ng-src="{{loadout.clothes.equipped.image}}" />
                                                            <span class="not-possible">
                                <span class="fa fa-5x fa-ban " uib-tooltip="Not possible with selected main" tooltip-append-to-body="true" ng-if="!isPossibleMain(loadout.clothes.equipped,loadout.clothes.main.name)"></span>
                                                            </span>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div id="clothes-abilities" class="ability-wrapper">
                                                        <img tabindex="0" class="abilityicon main" draggable-ability ability-slot="loadout.clothes.main" contains-fixed="{{loadout.clothes.equipped.fixed?true:false}}" contains-exclusive="{{loadout.clothes.main?loadout.clothes.main.exclusive?true:false:false}}"
                                                            ng-src="{{loadout.clothes.getmainIcon()}}" />
                                                        <img tabindex="0" class="abilityicon sub" draggable-ability ability-slot="loadout.clothes.subs[0]" ng-src="{{loadout.clothes.getSubIcon(0)}}" />
                                                        <img tabindex="0" class="abilityicon sub" draggable-ability ability-slot="loadout.clothes.subs[1]" ng-src="{{loadout.clothes.getSubIcon(1)}}" />
                                                        <img tabindex="0" class="abilityicon sub" draggable-ability ability-slot="loadout.clothes.subs[2]" ng-src="{{loadout.clothes.getSubIcon(2)}}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 nopadding">
                                            <div class="card itemcard shoesprites">
                                                <div class="row cardheader">
                                                    <button class="icon-button" ng-hide="screenshotMode" ng-controller="ModalCtrl" ng-click="openGearPicker(shoes,loadout.shoes.equipped,'shoes')"><span class="glyphicon glyphicon-pencil"></span></button>                                                    クツ
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 nopadding">
                                                        <div id="shoes" class="gear-wrapper">
                                                            <img fallback-img class="gear-icon" ng-src="{{loadout.shoes.equipped.image}}" />
                                                            <span class="not-possible">
                                <span class="fa fa-5x fa-ban " uib-tooltip="Not possible with selected main" tooltip-append-to-body="true" ng-if="!isPossibleMain(loadout.shoes.equipped,loadout.shoes.main.name)"></span>
                                                            </span>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div id="shoes-abilities" class="ability-wrapper">
                                                        <img tabindex="0" class="abilityicon main" draggable-ability ability-slot="loadout.shoes.main" contains-fixed="{{loadout.shoes.equipped.fixed?true:false}}" contains-exclusive="{{loadout.shoes.main?loadout.shoes.main.exclusive?true:false:false}}" ng-src="{{loadout.shoes.getmainIcon()}}"
                                                        />
                                                        <img tabindex="0" class="abilityicon sub" draggable-ability ability-slot="loadout.shoes.subs[0]" ng-src="{{loadout.shoes.getSubIcon(0)}}" />
                                                        <img tabindex="0" class="abilityicon sub" draggable-ability ability-slot="loadout.shoes.subs[1]" ng-src="{{loadout.shoes.getSubIcon(1)}}" />
                                                        <img tabindex="0" class="abilityicon sub" draggable-ability ability-slot="loadout.shoes.subs[2]" ng-src="{{loadout.shoes.getSubIcon(2)}}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row card" ability-box id="abilitybox">
                                <span ng-repeat="skill in getStackableSkills()">
                  <img fallback-img  id="{{'icon:' + skill.name}}" class="abilityicon" ability-menu uib-tooltip="{{skill.localizedName['ja_JP']}}"  tooltip-append-to-body="true" ng-click="loadout.setOpenSlot(skill)" draggable-ability skill="{{skill}}" ng-src="{{::skill.image}}">
                  <span style="position: relative; width: 0; height: 0">
                      <span style="color: #fff;" class="fa fa-info-circle fa-1" ng-controller="splatController" uib-tooltip="お問い合わせ: {{skill.localizedName['ja_JP']}}" ng-click="tutorial(skill.name)" tooltip-append-to-body="true"></span>
                                </span>
                                </span>
                                <hr>
                                <img fallback-img ng-repeat="skill in getExclusiveSkills()" id="{{'icon:' + skill.name}}" class="abilityicon" ability-menu uib-tooltip="{{skill.localizedName['ja_JP']}}" tooltip-append-to-body="true" ng-click="loadout.setOpenSlot(skill)" draggable-ability
                                    skill="{{::skill}}" ng-src="{{::skill.image}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <span><a ng-controller="ModalCtrl" href="" ng-click="openAbout()" >about</a> | <a href="https://github.com/selicia/splat2-calc" target="_blank">github</a> | <a href="https://twitter.com/Selicia2" target="_blank">twitter</a></span><br>
                    <span>Site created by <a href="http://github.com/slushiegoose/slushiegoose.github.io">slushiegoose</a> based on <a href="http://github.com/selicia/splat2-calc/" target="_blank">selicia</a>'s fork of <a href="http://github.com/DeviPotato/splat2-calc/" target="_blank">devipotato</a>'s <a href="https://loadout.ink">loadout.ink</a> - Data and information provided by <a href="https://twitter.com/LeanYoshi" target="_blank">Lean</a></span>
                    <br> スプラトゥーンは、任天堂株式会社の商標であり、当サイトは任天堂株式会社とは一切関係のないサービスです。
                </div>
            </footer>
            <div id="draggable-parent"></div>
        </div>
</body>

</html>